<div class="container centered">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-sm-10">
                <textarea type="text"  rows="5" class="form-control"  placeholder="Share Something" style="height:100px" ng-model="postText"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-9 ">
                <button type="submit" class="btn btn-danger" ng-click="share()">Share</button>
            </div>
        </div>
    </form>
</div>
<div class="container ">
    <div class=" col-md-10 " style="border-width:1px;border-style:solid;padding:7px" ng-repeat="post in posts">
        <div class="row" >
            <a ui-sref="profile({ username: user.username})"    class=" col-md-1" style="margin-right:10px">
                <img ng-src="{{user.profile_pic}}" class="img-rounded" alt="profile picture" width="80"
                     height="80">
            </a>
            <div class="text-info col-md-8">{{user.name.first}}  {{user.name.last}}</div>
            <p class="col-md-10">
                {{post.text}}

            </p>
        </div>
    </div>

</div>