<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="alert alert-success" ng-repeat="msg in message">
            {{msg}}
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a>
                </div>
            </div>

            <div style="padding-top:30px" class="panel-body">

                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form id="loginform" class="form-horizontal" role="form">

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="login-username" type="text" class="form-control" name="username" ng-model="loginName"
                               placeholder="username">
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="login-password" type="password" class="form-control" name="password"
                               ng-model="loginPassword" placeholder="password">
                    </div>


                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->

                        <div class="col-sm-12 controls">
                            <a id="btn-login" ng-click="login()" class="btn btn-success">Login </a>

                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                Don't have an account!
                                <a onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                    Sign Up Here
                                </a>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
    <div id="signupbox" style="display:none; margin-top:50px"
         class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="alert alert-warning" ng-repeat="error_msg in errors">
            {{error_msg}}
        </div>


        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink"
                                                                                           onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign
                    In</a></div>
            </div>
            <div class="panel-body">
                <form id="signupform" class="form-horizontal" role="form">

                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>


                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label" >Email</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" name="email" placeholder="Email Address" ng-model="reg.mail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-md-3 control-label" >Username</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" name="username" placeholder="Username" ng-model="reg.username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-md-3 control-label" >First Name</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" name="firstname" placeholder="First Name" ng-model="reg.first">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-md-3 control-label" >Last Name</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" name="lastname" placeholder="Last Name" ng-model="reg.last">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label" >Password</label>

                        <div class="col-md-9">
                            <input type="password" class="form-control" name="passwd" placeholder="Password" ng-model="reg.password">
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="button" class="btn btn-info" ng-click="register()"><i
                                    class="icon-hand-right"></i> &nbsp Sign Up
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>


    </div>
</div>
    