<div class="container" style="border-style:solid;border-width:1px" >
    <div class="row">
        <h4 class="col-md-2">
            {{name}}
        </h4>
    </div>
    <div class="row">

        <div class="col-md-2">
            <div class="thumbnail">
                <img src="files/default_profile_pic.jpg" alt="profile picture">
            </div>
        </div>
    </div>
</div>

<div class="row" ng-repeat="post in posts" style="margin-top:20px;border-width:1px;border-style:solid;padding-bottom:5px;padding-top:5px">
    <a ui-sref="profile({ username: user.username})"    class=" col-md-1" style="margin-right:10px">
        <img ng-src="{{user.profile_pic}}" class="img-rounded" alt="profile picture" width="80"
             height="80">
    </a>
    <div class="text-info col-md-8">{{user.name.first}}  {{user.name.last}}</div>
    <p class="col-md-10">
        {{post.text}}
    </p>
    <div class="col-md-offset-8">{{post.timestamp}}</div>
</div>