<html ng-app="app">
<head>
    <title>Classmates</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<!-- Menu-->
<nav class="navbar navbar-default navbar-inverse" ng-controller="mainCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="/">
                <span>Classmates</span>
            </a>
        </div>

        <form class="navbar-form navbar-left" role="search">
            <div class="form-group ">
                <input type="text" class="form-control" placeholder="Search" style="width:300px" ng-model="searchName">
            </div>
            <button type="submit" class="btn btn-warning" ng-click=submit()>Search</button>
        </form>
        <a class="navbar-text navbar-right" ng-click="logout()" href="#" ng-show="logoutButton">Logout</a>
        <p class="navbar-text navbar-right"><a ui-sref="profile({username:user.username})" class="navbar-link">{{user.username}}</a></p>
        <a class="navbar-text navbar-right" ui-sref="messages">
            <span class="glyphicon glyphicon-envelope"></span>
        </a>
    </div>
</nav>
<!-- libs-->


<div ui-view></div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/ui-router/release/angular-ui-router.js"></script>

<script src="bower_components/angular-cookie/angular-cookie.js"></script>

<script src="js/controllers/mainController.js"></script>
<script src="js/controllers/loginController.js"></script>
<script src="js/controllers/homeController.js"></script>
<script src="js/controllers/profileController.js"></script>
<script src="js/controllers/messagesController.js"></script>
<script src="js/app.js"></script>
</body>
</html>